<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head><meta charset="UTF-8" /></head>
<body>
	
	
	
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home / Documentação</span>
					</li>
				</ul>
			</div>
		</nav>
		
		<div class="container">
			<div id="list-home" class="row">
				<div class="col-4">
					<div class="list-group" id="list-tab" role="tablist">
						<a class="list-group-item list-group-item-action active"
							id="list-spring-boot-list" data-toggle="list" href="#spring-boot"
							role="tab" aria-controls="spring-boot">Como cadastrar um setor?</a> <a
							class="list-group-item list-group-item-action" id="list-sts-list"
							data-toggle="list" href="#sts" role="tab" aria-controls="sts">Como
							listar ou editar os setores?</a> <a class="list-group-item list-group-item-action"
							id="list-thymeleaf-list" data-toggle="list" href="#thymeleaf"
							role="tab" aria-controls="thymeleaf">Como cadastrar um funcionário?</a> <a
							class="list-group-item list-group-item-action"
							id="list-webjars-list" data-toggle="list" href="#webjars"
							role="tab" aria-controls="webjars">Como listar ou editar os funcionários?</a> <a
							class="list-group-item list-group-item-action"
							id="list-hibernate-list" data-toggle="list" href="#hibernate"
							role="tab" aria-controls="hibernate">Como cadastrar um chamado?</a> <a
							class="list-group-item list-group-item-action"
							id="list-bootstrap-list" data-toggle="list" href="#bootstrap"
							role="tab" aria-controls="bootstrap">Como listar ou editar um chamado?</a>
					</div>
				</div>
				<div class="col-8">
					<div class="tab-content" id="nav-tabContent">
						<div class="tab-pane fade show active" id="spring-boot"
							role="tabpanel" aria-labelledby="list-spring-boot-list">	
							Navegue pelo menu lateral até a seção em azul "SETORES".
							Clique no campo "CADASTRAR", preencha corretamente o campo com o nome
							do setor que irá ser cadastrado e clique no botão salvar.
						</div>
						<div class="tab-pane fade" id="sts" role="tabpanel"
							aria-labelledby="list-sts-list">
							Navegue pelo menu lateral até a seção em azul "SETORES".
							Clique no campo "LISTAR". Ao clicar, verá os setores atuais
							cadastrados, com opção de editar o nome do setor ou apaga-lo.
							
						</div>
						<div class="tab-pane fade" id="thymeleaf" role="tabpanel"
							aria-labelledby="list-thymeleaf-list">
							Navegue pelo menu lateral até a seção em azul "FUNCIONÁRIOS".
							Clique no campo "CADASTRAR". Preencha corretamente o campo com o nome
							do funcionário e o seu respectivo setor. Após isso, clique no botão salvar.
						</div>
						<div class="tab-pane fade" id="webjars" role="tabpanel"
							aria-labelledby="list-webjars-list">
							Navegue pelo menu lateral até a seção em azul "FUNCIONÁRIOS".
							Clique no campo "LISTAR". Ao clicar, verá os funcionários atuais cadastrados e
							seu respectivo setor. Ações como editar e excluir estão disponíveis, no campo "Ações".
						<div class="tab-pane fade" id="hibernate" role="tabpanel"
							aria-labelledby="list-hibernate-list">
							Navegue pelo menu lateral até a seção em azul "CHAMADOS".
							Clique no campo "CADASTRAR", preencha corretamente o campo com o 
							título do chamado, o funcionário que está abrindo o chamado e para qual setor
							esse chamado será.
						</div>
						<div class="tab-pane fade" id="bootstrap" role="tabpanel"
							aria-labelledby="list-bootstrap-list">
							Navegue pelo menu lateral até a seção em azul "CHAMADOS".
							Clique no campo "LISTAR". Ao clicar, verá os chamados atuais cadastrados,
							quem os abriu e para qual setor esse chamado foi aberto. Opções como editar e
							excluir estão disponíveis, no campo "Ações".
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
		
	</section>		
</body>
</html>