<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>



	<section class="layout-content" layout:fragment="corpo">
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span>Home / Documentação</span></li>
				</ul>
			</div>
		</nav>

		<div class="container">

			<h3>[ASFNE Helpdesk] - Documentação</h3>
			



		</div>
	</section>
</body>
</html>